{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static "login.css" %}">
{% endblock %}

{% block content %}
<div class="w3-display-center w3-text-white" style="padding:100px">
  <h1 class="title w3-center">log in.</h1><br>

    <div class="w3-padding-24 w3-center w3-myfont">

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

      <!--<form action="{% url 'login' %}" method = "post" enctype="multipart/form-data">-->
        <!--{% csrf_token %}-->
        <!--<p class="sections">username:</p>-->
        <!--{{ form.username }}<br>-->
        <!--<p class="sections">password:</p>-->
        <!--{{ form.password }}<br>-->

          <!--<button class="buttons" type="submit">login</button>-->
        <!--<input class="buttons" type="submit" value="login">-->
        <!--<input type="hidden" name="next" value="{{ next }}" />-->
      <!--</form>-->
      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">lost password?</a></p>
        <p><a href="{% url 'chooselogin' %}">click here to create an account</a></p>
    </div>
  </div> 

<!--<form method="post">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

{% endblock %}