html {
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background:  #F7B5B0;
    color: #A55858;
    text-align: center;
}

.w3-myfont {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

p {
    color: #A55858;
}

footer {
    width: 100%;
    float: center;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #A55858;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.bar-item {
    cursor: url('my_app/shield.png'), auto; 
}

.bar-item:hover {
    color: blue;
    cursor: url('my_app/shield.png'), auto; 
}

.icon {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    color: white; 
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    cursor: url('my_app/shield.png'), auto; 
}

.icon:hover {
    color: white;
    text-shadow: 2px 2px 2px #A55858;
    cursor: url('my_app/shield.png'), auto; 
}

.sidebar {
    color: #A55858;
}

.hamburger {
    margin: 10px;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-right {
    color: #A55858;
}

.shortcut:hover {
    color: #563B3B;
    cursor: url('my_app/shield.png'), auto; 
}

.fa {
    color: #A55858;
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #A55858;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

*:before,
*:after {
  z-index: -1;
}

a {
  text-decoration: none;
  color: #563B3B;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}

.buttons {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  /*text-transform: uppercase;*/
  border: 1px solid #A55858;
    line-height: 80px;
    z-index:1;
    top:-80px;
}

.buttons:before, .buttons:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 40px solid #A55858;
  border-bottom: 40px solid #A55858;
}
.buttons:before {
  border-right: 40px solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.buttons:after {
  border-left: 40px solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.buttons:hover {
  color: white;
}
.buttons:hover:before {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
.buttons:hover:after {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

/*.buttons {
white-space: normal;
word-wrap: break-word;
    height: 100%;
    line-height: 27px;
    background-color: #EFA09E;
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 10px 20px 10px 20px;
    cursor: url('my_app/shield.png'), auto; 
    text-decoration: none;
}

.buttons:hover {
    border-radius: 10px;
    background-color: #C66B6B;
    cursor: url('my_app/shield.png'), auto; 
}*/