input[type=text],input[type=submit], .buttons, .footer {
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

input[type=text] {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}


input[type=file] {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    align-content: center;
}


.sections {
    color: #A55858;
}