.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #A55858;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 2;
  top: -10%;
  left: 120%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #A55858 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

input[type=text] {
    border: none;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 13px;
    width: 100%;
    padding: 12px 12px;
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
    background-image: url('//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-size: 25px 25px;
    background-position: 444px;
    background-repeat: no-repeat;
    padding-right: 75px;
    margin-bottom: 20px;
  }

input[type=text]:hover {
  box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

button[class=buttons]:hover {
  cursor: url('my_app/shield.png'), auto;
}