html {
    cursor: url('my_app/shield-w.png'), auto; 
}

html, body, a, p, ul, input[type=text], .buttons, .footer {
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background:  #F7B5B0;
}

.name {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-style: normal;
    background:  #F7B5B0;
    color: #A55858;
}

.w3-myfont {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

footer {
    float: center;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #A55858;
    text-decoration: none;
}

.bar-item {
    cursor: url('my_app/shield.png'), auto; 
}

.bar-item:hover {
    color: blue;
    cursor: url('my_app/shield.png'), auto; 
}

.icon {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    color: white; 
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    cursor: url('my_app/shield.png'), auto; 
}

.icon:hover {
    color: white;
    text-shadow: 2px 2px 2px #A55858;
    cursor: url('my_app/shield.png'), auto; 
}

.sidebar {
    color: #A55858;
}

.hamburger {
    margin: 10px;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-right {
    color: #A55858;
}

.shortcut:hover {
    color: #563B3B;
    cursor: url('my_app/shield.png'), auto; 
}

.fa {
    color: #A55858;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #A55858;
}

.pic {
/*  display: block;*/
    width: 130px;
    height: 130px;
    display: inline-block;
    /*border-radius: 50%;*/
  box-shadow: 0 0 10px 5px white;
  margin: 20px;
}

p {
  color: white;
}

.box {
margin-left: 40%;
margin-right: 40%;
padding: 20px 20px 20px 20px;
border-radius: 20px;
background-color: transparent;
-webkit-transition: 300ms; 
    transition: 300ms;
  align-content: left;
  color: #A55858;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sub {
text-transform: uppercase;
    font-family: "houschka-rounded", sans-serif;
    font-style: normal;
text-align: left;
letter-spacing: 3px;
line-height: 2pt;
font-size: 10pt;
  align-content: center;
}


.buddy {
  display: inline-block;
  margin: 5%;
}

.row {
  float: center;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
