
main {
    position: relative;
    top: 60px;
    left: 85px;
    /*transform: translate(-50%, -50%);*/
    /*text-align: center;*/
}

body, a, p, ul, input[type=text],input[type=submit], input[type=date], input[type=time], .buttons, .footer {
    /*font-family: "Comic Sans";*/
    font-family: "houschka-rounded", sans-serif;
    font-style: normal;

}

.bg {
    background-color: #cbdaff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

li a:hover {
    text-decoration: underline;
    opacity: .85;
}

header li a {
    list-style-type: none;
    float: left;
    font-size: 16px;
    display: inline-block;
    padding-left: 20px;
    color: #748AB5;
    /*color: #000;*/
    text-decoration: none;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 27px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 2px;
    position: absolute;
    top: 0px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #9ec18a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    bottom: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.welcome {
    font-size: 30px;
    padding-bottom: 10px;
}

input[type=text] {
    width: 25%;
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}


input[type=time] {
    width: 5%;
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}

textarea {
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
}

input[type=date] {
    width: 10%;
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}

input[type=submit] {
    outline: none;
    height: 36px;
    line-height: 27px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    /*margin: 11px 4px;*/
    min-width: 54px;
    padding: 0 10px;
    /*text-align: center;*/
}

input[type=submit]:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}


/*input[type=text] {*/
    /*border: none;*/
    /*outline: none;*/
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);*/
    /*font-size: 13px;*/
    /*width: 100%;*/
    /*padding: 12px 12px;*/
    /*margin: 0px;*/
    /*box-sizing: border-box;*/
    /*background-color: white;*/
    /*background-image: url('//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');*/
    /*background-size: 25px 25px;*/
    /*background-position: 444px;*/
    /*background-repeat: no-repeat;*/
    /*padding-right: 75px;*/
    /*margin-bottom: 20px;*/
  /*}*/

/*input[type=text]:hover {*/
  /*box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);*/
/*}*/