input[type=text],input[type=submit], .buttons, .footer {
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

input[type=text] {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}

input[type=text]:hover {
}

input[type=file] {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    align-content: center;
}

input[type=file]:hover {
}

/*input[type=submit] {
    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 2px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
}

input[type=submit]:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
      box-shadow: 0 0 10px 5px white;

}*/

input[type=submit] {
    display: inline-block;
    height: 36px;
    line-height: 27px;
    background-color: #EFA09E;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    min-width: 54px;
    padding: 0 16px;

}

input[type=submit]:hover {
    background: #A55858;
    box-shadow: 0 0 10px 5px white;
}

.sections {
    color: #A55858;
}

.styled-field {
    display: inline-block;
    /*box-sizing: border-box;*/
    border-radius: 2px;
    /*border-;*/
    overflow: hidden;
     width: 240px;
}

.styled-text {
    display: inline-block;
    /*box-sizing: border-box;*/
    border-radius: 2px;
    /*border-;*/
    overflow: hidden;
     width: 240px;
}

