
html {
    cursor: url('my_app/shield-w.png'), auto; 
}

html, body, a, p, ul, input[type=text], .buttons, .footer {
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background:  #F7B5B0;
}

.w3-myfont {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

footer {
    width: 100%;
    float: center;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.bar-item {
    cursor: url('my_app/shield.png'), auto; 
}

.bar-item:hover {
    color: blue;
    cursor: url('my_app/shield.png'), auto; 
}

.icon {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    color: white; 
    text-decoration: none;
    background: transparent;
    font-size: 20px;
    margin: 10px;
    cursor: url('my_app/shield.png'), auto; 
}

.icon:hover {
    color: white;
    text-shadow: 1px 1px 2px #A55858;
    cursor: url('my_app/shield.png'), auto; 
}

.sidebar {
    color: #A55858;
}

.hamburger {
    margin: 10px;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-right {
    color: #A55858;
}

.shortcut:hover {
    color: #563B3B;
    cursor: url('my_app/shield.png'), auto; 
}

.fa {
    color: #A55858;
}

.buttons {
    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    /*margin: 11px 4px;*/
    margin-left: auto;
    margin-right: auto;
    float: center;
    min-width: 54px;
    padding: 0 16px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #A55858;
    margin: 50px;
}

/* end global */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 27px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #EFA09E;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #A55858;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

.container:hover {
    cursor: url('my_app/shield.png'), auto; 
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 2px;
    bottom: 0px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown {
    width: 80%;
    margin:auto;
    float: center;
}

.dropdown:hover {
    cursor: url('my_app/shield.png'), auto; 
}

.welcome {
    font-size: 30px;
    padding-bottom: 10px;
}

input[type=text] {
    width: 80%;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}


input[type=time] {
    margin: 0 auto;
    margin-right: 10%;
    width: 250px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}

textarea {
    width: 80%;
    margin:auto;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid #E59393;
    border-radius: 2px;
    font-size: 12px;
}

textarea:hover {
    cursor: url('my_app/shield.png'), auto; 
}

input[type=date] {
    margin: 0 auto;
    margin-right: 10%;
    width: 250px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}

input:hover {
    cursor: url('my_app/shield.png'), auto; 
}

input[type=submit] {
    outline: none;
    height: 36px;
    line-height: 27px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    /*margin: 11px 4px;*/
    min-width: 54px;
    padding: 0px;
    /*text-align: center;*/
}

input[type=submit]:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.prompt {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-weight: 700;
    color: #A55858;
}

form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
