.title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #A55858;
    margin: 50px;
}

/* end global */

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 27px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #EFA09E;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #A55858;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

.container:hover {
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 2px;
    bottom: 0px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.dropdown {
    display: inline-block;

    margin: 0 auto;
    width: 250px;
    /*width: 80%;
    margin:auto;
    float: center;*/
}

.dropdown:hover {
}

.welcome {
    font-size: 30px;
    padding-bottom: 10px;
}

input[type=text] {
     margin: 0 auto;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
    height: 29px;
   overflow: hidden;
   width: 240px;
}


input[type=time] {
    margin: 0 auto;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
    height: 29px;
   overflow: hidden;
   width: 240px;
}

textarea {
    margin: 0 auto;
    width: 240px;
    /*width: 80%;
    margin:auto;*/
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 12px;
    overflow: hidden;
}

textarea:hover {
}

input[type=date] {
    margin: 0 auto;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
   height: 29px;
   overflow: hidden;
   width: 240px;
}

input:hover {
}

/*input[type=submit] {
        display: inline-block;

    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 2px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    min-width: 54px;
    padding: 0 16px;

}

input[type=submit]:hover {
    background: #A55858;
    border-radius: 5px;
    background-color: rgba(165,88,88,.6);
        box-shadow: 0 0 10px 5px white;

}*/

input[class=glow] {
        display: inline-block;

    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    min-width: 54px;
    padding: 0 16px;

}

input[class=glow]:hover {
    background: #A55858;
    background-color: rgba(165,88,88,.6);
        box-shadow: 0 0 10px 5px white;

}

.box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.prompt {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-weight: 700;
    color: #A55858;
}

form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
    display: inline-block;
    margin: 0 auto;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid white;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.pink   { background-color: #EFA09E; }

.pink select   { color: white; }

.styled-field {
    display: inline-block;
    /*box-sizing: border-box;*/
    border-radius: 2px;
    /*border-;*/
    overflow: hidden;
     width: 240px;
}

.styled-text {
    display: inline-block;
    /*box-sizing: border-box;*/
    border-radius: 2px;
    /*border-;*/
    overflow: hidden;
     width: 250px;
}
