/*.buttons {
    overflow-wrap: break-word;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    white-space: normal;
    padding: 3px 12px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}*/
body { overflow: hidden }

a[class=buttons]:hover {
  cursor: url('my_app/shield.png'), auto;
}

button[class=buttons]:hover {
  cursor: url('my_app/shield.png'), auto;
}

img {
/*  display: block;*/
position: relative; 
    width: 36px;
    height: 36px;
    display: inline-block;
    /*border-radius: 50%;*/
  margin: 20px;
}

body { overflow: hidden }
#plane { position: absolute; left: -1000px; width: 50% /* <- not relevant for the animation */ }