/*.buttons {
    overflow-wrap: break-word;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    white-space: normal;
    padding: 3px 12px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}*/