/*.buttons {
    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}*/

input[type=text],input[type=submit], .buttons, .footer {
    /*font-family: "Helvetica Neue";*/
    font-family: "houschka-rounded", sans-serif;
    font-style: normal;
}

input[type=text] {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*box-sizing: border-box;*/
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    /*border-;*/
}

input[type=text]:hover {
    cursor: url('my_app/shield.png'), auto; 
}

input[type=file] {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    align-content: center;
}

input[type=file]:hover {
    cursor: url('my_app/shield.png'), auto; 
}
/*
input[type=submit] {
    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    cursor: url('my_app/shield.png'), auto; 
}

input[type=submit]:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}
*/

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

*:before,
*:after {
  z-index: -1;
}

a {
  text-decoration: none;
  line-height: 80px;
  color: #563B3B;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}


input[type=submit] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  /*text-transform: uppercase;*/
  border: 1px solid #A55858;
}

input[type=submit]:before, input[type=submit]:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 40px solid #A55858;
  border-bottom: 40px solid #A55858;
}
input[type=submit]:before {
  border-right: 40px solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
input[type=submit]:after {
  border-left: 40px solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
input[type=submit]:hover {
  color: white;
}
input[type=submit]:hover:before {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
input[type=submit]:hover:after {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.sections {
    color: #A55858;
}