.options {
display: block;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
padding-left: auto;
padding-right: auto;
  align-content: center;
}

.box {
margin-right: auto;
margin-left: auto;
margin-top: 5%;
width: 90%;
border-radius: 30px;
background-color: transparent;
-webkit-transition: 300ms; 
    transition: 300ms;
align-content: center;
  color: white;
}

.box:hover {
filter: alpha(opacity=0);
-webkit-transition: 300ms; 
    transition: 300ms;
  box-shadow: 0 0 8px 5px #E59393;
  color: #E59393;
  background: white;
  cursor: url('my_app/shield.png'), auto; 
}

.pic {
/*  display: block;*/
    object-fit: cover;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 20px;
    border: 1px solid #E59393;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #E59393;
}

.buttons {
    height: 36px;
    line-height:20px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}

.buddies {
/*  display: block;*/
    object-fit: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
margin: 20px 10px 0px 20px;
border: 1px solid #FAEBD7;
}

.sub {
text-align: left;
letter-spacing: 3px;
line-height: 2pt;
font-size: 10pt;
  align-content: center;
}

.subtitle {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 20px;
    text-align: center;
  text-decoration: underline;
}

/*#rides-list {
  background: #E59393;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 8px 5px #E59393;
  border-radius: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 80%;
  margin-bottom: 50px;
}*/

.car {
        width: 40px;
        margin:1%;
    }

.name {
    color: #A55858;
    font-weight: 700;
    text-decoration: underline;
    font-size: 18px;
}


