.title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px 8px #A55858;
}

img { 
  width: 50%; 
}

.rect {
    z-index: -1;
}

body {
     background-image: url("my_app/princeton.png");
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: 70%;
}

/*.buttons {
    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}*/