html {
    cursor: url('my_app/shield-w.png'), auto; 
}

html, body, a, p, ul, input[type=text], .buttons, .footer {
    /*font-family: "Helvetica Neue";*/
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background:  #F7B5B0;
}

.w3-myfont {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

footer {
    float: center;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #A55858;
    text-decoration: none;
}

.bar-item {
    cursor: url('my_app/shield.png'), auto; 
}

.bar-item:hover {
    color: blue;
    cursor: url('my_app/shield.png'), auto; 
}

.icon {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    color: white; 
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    cursor: url('my_app/shield.png'), auto; 
}

.icon:hover {
    color: white;
    text-shadow: 2px 2px 2px #A55858;
    cursor: url('my_app/shield.png'), auto; 
}

.sidebar {
    color: #A55858;
}

.hamburger {
    margin: 10px;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-right {
    color: #A55858;
}

.shortcut:hover {
    color: #563B3B;
    cursor: url('my_app/shield.png'), auto; 
}

.fa {
    color: #A55858;
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    color: white;
    font-weight: 700;
    /*text-align: left;*/
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px 8px #A55858;
}

.buttons {
    height: 36px;
    line-height: 27px;
    background-color: rgba(165,88,88,.3);
    border-radius: 10px;
    border-color: transparent;
    color: white;
    font-size: 15px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    cursor: url('my_app/shield.png'), auto; 
}

.buttons:hover {
    background: #A55858;
    border-radius: 10px;
    background-color: rgba(165,88,88,.6);
    cursor: url('my_app/shield.png'), auto; 
}