{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--<link rel="shortcut icon" type="image/png" href="https://cdn.pixabay.com/photo/2015/10/31/12/56/google-1015752_1280.png"/>-->
    <title>TigerRide</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>

<body class="bg">
<header>
    <ul>
        <li style="float:right"><a href="{% url 'currentprof' %}">profile</a></li>
        <li style="float:right"><a href="{% url 'contact' %}">contact us</a></li>
        <li style="float:right"><a href="{% url 'about' %}">about us</a></li>
        <li style="float:right"><a href="{% url 'home' %}">home</a></li>
    </ul>
</header>

<main>
    <div class="center">
        <div class="w3-container">
            <h1 class="w3-center w3-animate-bottom">About TigerRides</h1>
        </div>
        {% load static %}
        <img src="{% static "my_app/tiger.jpg" %}" alt="My image" class="w3-round-xxlarge" style="width:40%">
        <div class="w3-container">
            <p class="w3-center w3-animate-bottom">TigerRides is a student run app created to streamline the process of students sharing Uber/Lyft/other transportation services to and from the Princeton University campus. This will reduce transportation costs by allowing for easier communication between traveling students. Essentially, we hope to create a ride-share-share application for Princeton students. </p>
        </div>

    </div>
    <footer>
        <p>copyright 2019 by a. chang, c. kwon, c. lee, n. schmeller</p>
    </footer>
</main>
</body>
</html>