{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'chooseLogin.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin-top: 5%">
  <div class="w3-display-center w3-text-white" style="padding:100px">
    <h1 class="title w3-center">tell me about yourself.</h1>
    <div class="w3-padding-64 w3-center w3-myfont">
      <!--<button class="buttons tooltip" type="button">use  cas
        <span class="tooltiptext">automatically import name, netid, photo from tigerbook</span>
      </button>-->
      <a onclick="location.href='{% url 'createprof' %}'" class="buttons">create new profile</a>
      <div><br/></div>
      <!--
      <button onclick="location.href='{% url 'createUser' %}'" class="buttons tooltip" type="button">create new profile
        <span class="tooltiptext">enter your own data</span>
      </button>-->
      <a onclick="location.href='{% url 'cascreateprof' %}'" class="buttons">use tigerbook info</a>
    </div>
  </div> 
</div>
</div>
{% endblock %}