{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static 'leaveRide.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
  <div class="w3-display-center w3-text-white" style="padding:5%">
    <h1 class="title w3-center">are you sure you would like to complete this ride?</h1>

    <p class="name">ride details:</p>
    origin: {{ origin }}<br>
    destination: {{ destination }}<br>
    date: {{ date }}<br>

    {% for ride in rides %}
    <div class="w3-padding-36 w3-center w3-myfont">
      <form action="{% url 'userProf' %}" target="_blank" method="post" id="see_user">
        {% csrf_token %}
        {{ form }}
        <button class="buttons" name="userNetid" value="{{ ride.netid }}" form="see_user" type="submit">
          {{ ride.user_first_name }} {{ ride.user_last_name }}:
        </button>
      </form>
      <a class="user">{{ ride.time_start }} --> {{ ride.time_end }}<br>
      notes: {{ ride.notes}}<br></a>
      {% endfor %}
      <br><br>
      <p class="name">WARNING: action cannot be undone!</p>
      <form action="{% url 'reloadRideHistory' 1 %}" method="post" id="toGroupButton">
        {% csrf_token %}
        {{ form }}
        <button class="glow" name="rideId" value="{{rideId}}" form="toGroupButton" type="submit">complete</button>
      </form>
    </div>
  </div> 
</div>
</div>
{% endblock %}