{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static "contact.css" %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center">
  <div class="w3-display-center w3-text-white" style="padding:10%">
    <h1 class="title w3-center">contact us.</h1>
    <div class="w3-padding-16 w3-center w3-myfont">
      <!-- row 1 -->
      <div class="row">
        <div class="buddy w3-container w3-center">
          {% load static %}
          <img src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="pic">
          <h2 class="name">anabelle chang</h2>
          <a href="mailto:anabelle@princeton.edu">anabelle@princeton.edu</a>
        </div>
        <div class="buddy w3-container w3-center">
          {% load static %}
          <img src="{% static "my_app/christine.jpg" %}" alt="Christine" class="pic">
          <h2 class="name">christine kwon</h2>
          <a href="mailto:cmkwon@princeton.edu">cmkwon@princeton.edu</a>
        </div>
      </div>
      <!-- row 2 -->
      <div class="row">
        <div class="buddy w3-container w3-center">
          {% load static %}
          <img src="{% static "my_app/christy.jpg" %}" alt="Christy" class="pic">
          <h2 class="name">christy lee</h2>
          <a href="mailto:christyl@princeton.edu">christyl@princeton.edu</a>
        </div>
        <div class="buddy w3-container w3-center">
          {% load static %}
          <img src="{% static "my_app/nick.jpg" %}" alt="Nick" class="pic">
          <h2 class="name">nick schmeller</h2>
          <a href="mailto:nbs@princeton.edu">nbs@princeton.edu</a>
        </div>
      </div>
      <p class="name">email us your questions, concerns, and suggestions:</p>
      <a class=“buttons” href="mailto:princetontigerrides@gmail.com?Subject=TigerRide%20Questions,%20Concerns,%20and%20Suggestions">
      let's get in touch!
      </a>
    </div>
  </div> 
</div>
</div>
{% endblock %}