{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static "createprof.css" %}">
{% endblock %}

{% block content %}
  <div class="w3-display-center w3-text-white" style="padding:100px">
    <h1 class="title w3-center">edit profile info.</h1><br>
    <p class="w3-center">remember:<br>others can view this info!<br>
    </p>
      <div class="w3-padding-24 w3-center w3-myfont">
        <form action="{% url 'profile_create' %}" method = "post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <p class="sections">preferred first name:</p>
          <input type="text" name="first_name" value="{{ first_name }}" required><br>
          <p class="sections">preferred last name:</p>
          <input type="text" name="last_name" value="{{ last_name }}" required><br>
          <p class="sections">phone number:</p>
          <input type="text" name="phone_number" value="{{ phone_number }}" required
                 placeholder="(XXX) XXX - XXXX"><br>
          <p class="sections">upload a profile photo:</p>
          <input type="file" name="image" accept="image/*" value="{{ image }}" required><br><br>
          <input class="buttons" type="submit" value="submit">
        </form>
      </div>
  </div> 
{% endblock %}