{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="shortcut icon" type="image/png" href="https://cdn.pixabay.com/photo/2015/10/31/12/56/google-1015752_1280.png"/>-->
    <title>TigerRides</title>
    <link rel="stylesheet" href="https://use.typekit.net/adz8rjg.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'createprof.css' %}">
</head>
<body class="bg">
<header>
    <ul style="list-style-type: none;">
        <li style="float:right"><a href="{% url 'currentprof' %}">yournetid</a></li>
        <li style="float:right"><a href="{% url 'contact' %}">contact us</a></li>
        <li style="float:right"><a href="{% url 'about' %}">about us</a></li>
        <li style="float:right"><a href="{% url 'home' %}">home</a></li>
    </ul>
</header>

<main>
    <div class="welcome">
        Welcome, yournetid!
    </div>
    <div class="description">
        You can edit your profile information below. Remember that others can view this information! <br><br>
    </div>
    <form action="{% url 'profile_create' %}" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        Preferred first name:<br>
        <input type="text" name="first_name" value="{{ first_name }}" required><br>
        Preferred last name:<br>
        <input type="text" name="last_name" value="{{ last_name }}" required><br>
        Phone number:<br>
        <input type="text" name="phone_number" value="{{ phone_number }}" required><br>
        Upload a profile photo:<br>
        <input type="file" name="img" accept="image/*" value="{{ img }}" required><br><br>
        <input type="submit" value="Submit">
    </form>
        <!--<ul>-->
            <!--<li style="padding-bottom: 0px">-->
                <!--<button class="buttons tooltip"-->
                         <!--type="button">-->
                <!--USE TIGERBOOK DATA-->
                    <!--<span class="tooltiptext">Tooltip text</span>-->
                <!--</button>-->
            <!--</li>-->
            <!--<li class="tooltip" style="padding-top: 0px;">-->
                <!--<button class="buttons tooltip"-->
                        <!--type="button">-->
                    <!--CREATE NEW PROFILE-->
                    <!--<span class="tooltiptext">Tooltip text</span>-->
                <!--</button>-->
            <!--</li>-->

        <!--</ul>-->
        <!--<button class="buttons"-->
                <!--type="button">-->
            <!--USE TIGERBOOK DATA-->
        <!--</button>-->
        <!--<br>-->
        <!--or-->
        <!--<br>-->
        <!--<button class="buttons"-->
                <!--type="button">-->
            <!--CREATE NEW PROFILE-->
        <!--</button>-->

    </div>
    <footer>
        <p>copyright 2019 by a. chang, c. kwon, c. lee, n. schmeller</p>
    </footer>
</main>
<!--<footer>-->
    <!--&lt;!&ndash; <div class="footer"> &ndash;&gt;-->
    <!--<ul>-->
        <!--<li><a href="#advertising">Advertising</a></li>-->
        <!--<li><a href="#business">Business</a></li>-->
        <!--<li style="float:right"><a href="#settings">Settings</a></li>-->
        <!--<li style="float:right"><a href="#terms">Terms</a></li>-->
        <!--<li style="float:right"><a href="#privacy">Privacy</a></li>-->
    <!--</ul>-->
    <!--&lt;!&ndash; </div> &ndash;&gt;-->
<!--</footer>-->

</body>
</html>