{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TigerRide</title>
    <link rel="stylesheet" href="https://use.typekit.net/adz8rjg.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'currentprof-style.css' %}">
</head>
    
<body>
    <!-- // Intro -->
<main> 
<header>
    <ul style="list-style-type: none;">
        <li style="float:right"><a href="{% url 'currentprof' %}">profile</a></li>
        <li style="float:right"><a href="{% url 'contact' %}">contact us</a></li>
        <li style="float:right"><a href="{% url 'about' %}">about us</a></li>
        <li style="float:right"><a href="{% url 'home' %}">home</a></li>
    </ul>
</header>

    
    <!-- // Body -->
<div class="row">
  <div class="columnleft">
    {% load static %}
    <img src="{% static "my_app/christine.jpg" %}" alt="Christine" class="w3-round-xxlarge" style="width:40%">
  </div>
  <div class="columnright">
		<div class="content-wrap">
    <h2>NAME</h2>
		<p>&#9733;&#9733;&#9733;&#9733;&#9733;<br/><br/></p>
    <p>name@princeton.edu</p>
		<p>(000) 000 - 0000</p>
		<p>trips taken: 0</p>
		<a href='{% url 'createprof' %}' class="button">edit profile</a>
		</div>
  </div>
</div>
    <footer>
        <p>copyright 2019 by a. chang, c. kwon, c. lee, n. schmeller</p>
    </footer>
</main>
    
</body>

</html>