{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static "currentprof-style.css" %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
  <div class="w3-container w3-center" style="margin:5%">
    <div class="w3-display-center w3-text-white" style="padding:5%">
      <h1 class="title w3-center">my profile.</h1>
      {% if user.is_authenticated %}
      {% for login_info in login_infos%}
      <div class="left w3-half w3-padding-16 w3-center w3-myfont">
        <img src="{{ MEDIA_URL }}{{ login_info.image }}" class="pic">
      </div>
      <div class="right w3-half w3-padding-16 w3-center w3-myfont">
        <!-- code 1 commented out from here and moved to bottom for clarity --> 
        <h2 class="name">
          {{ login_info.first_name }} {{ login_info.last_name }}
        </h2>
        <p class="description">&#9733;&#9733;&#9733;&#9733;&#9733;<br/></p>
        <p class="description">{{ user.email }}</p>
        <p class="description">{{ login_info.phone_number }}</p>
        <p class="description">trips taken: 0</p>
      {% endfor %}
      <a href='{% url 'createprof' %}' class="buttons">edit</a>
      </div>

      {% else %}
      <div class="right w3-half w3-padding-16 w3-center w3-myfont">
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
      </div>
      {% endif %}
      <!-- code 2 commented out from here -->
      <br>
    </div>
  </div> 
</div>
</div>
{% endblock %}


<!-- code 1 -->
<!--<h2 class="name">-->
  <!--{% if user.is_authenticated %}-->
  <!--test 1-->
  <!--{{ user.username }}-->
  <!--{{ user.email }}-->
  <!--{% else %}-->
  <!--<p>You are not logged in</p>-->
  <!--&lt;!&ndash;<a href="{% url 'login' %}">login</a>&ndash;&gt;-->
  <!--{% endif %}-->
  <!--</h2>-->
  <!-- code 2  -->
  <!--{% for login_info in login_infos %}-->
  <!--<p class="description">&#9733;&#9733;&#9733;&#9733;&#9733;<br/><br/></p>-->
  <!--<p class="description">-->
    <!--name@princeton.edu-->
    <!--</p>-->
    <!--<p class="description">-->
      <!--{{ login_info.phone_number }}-->
      <!--(000) 000 - 0000-->
      <!--</p>-->
      <!--<p class="description">-->
        <!--trips taken: 0-->
        <!--</p>-->
        <!--{% endfor %}-->
