{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static 'groupInfo.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
  <div class="w3-display-center w3-text-white" style="padding:5%">
    <h1 class="title w3-center">information.</h1>
    <p class="name">ride details:</p>
    origin: {{ origin }}<br>
    destination: {{ destination }}<br>
    date: {{ date }}<br>
    {% for ride in rides %}
    <div class="w3-padding-36 w3-center w3-myfont">
      <!--{% with val="no" %} {% endwith %}}-->
      <p class="name">{{ ride.user_first_name }} {{ ride.user_last_name }}:</p>
      {{ ride.time_start }} --> {{ ride.time_end }}<br>
      notes: {{ ride.notes}}<br>
      <!--notes:{{ ride.notes}}-->
      has uber: {{ ride.uber }}, has lyft: {{ ride.lyft }} <br>

      <!--<p class="w3-center">Rider: {{ride.user_first_name}} {{ride.user_last_name}}</p>-->
      <!--<p class="w3-center">Time Frame: {{ ride.time_start }} &ndash;&gt; {{ ride.time_end }}</p>-->
      <!--<p class="w3-center">Notes: {{ ride.notes }}</p>-->
      <!--<p class="w3-center">Has Uber: {{ ride.uber }}, Has Lift: {{ ride.lyft }}</p>-->

    <!--   <div class="buddy w3-container w3-center">
        {% load static %}
        <div class="site w3-center" style="background-image: url({% static "my_app/anabelle.jpg" %})">
      </div> -->
   <!--    <div class="buddy w3-container w3-center">
        <img src="{{ MEDIA_URL }}{{ result.image }}" class="pic">
      </div> -->
      {% endfor %}
        <!--<img class="pic" src="my_app/anabelle.jpg" alt="Anabelle" class="w3-round-xxlarge">-->

      <form action="{% url 'joinGroup' %}" method="post" id="toGroupButton">
        {% csrf_token %}
        {{ form }}
        <a class="buttons" name="rideId" value="{{rideId}}" form="toGroupButton" type="submit">join this ride</a>
        <!--<button class="buttons" name="rideId" value="{{rideId}}" form="toGroupButton" type="submit">join this ride</button>-->
      </form>
      </div>
      <!--<div class="buddy w3-container w3-center">
        <img class="pic" src="my_app/christy.jpg" alt="Christy" class="w3-round-xxlarge">
        <p class="w3-center">name</p>
      </div>-->
  </div> 
</div>

</div>
{% endblock %}