{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>group info</title>
    <link rel="stylesheet" href="https://use.typekit.net/adz8rjg.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'groupInfo.css' %}">

</head>
    
<body>
    <!-- // Intro -->
<main> 
<header>
    <ul style="list-style-type: none;">
        <li style="float:right"><a href="{% url 'currentprof' %}">profile</a></li>
        <li style="float:right"><a href="{% url 'contact' %}">contact us</a></li>
        <li style="float:right"><a href="{% url 'about' %}">about us</a></li>
        <li style="float:right"><a href="{% url 'home' %}">home</a></li>
    </ul>
</header>
    
    <!-- // Body -->
		<div class="content-wrap">
    <h2>TRIP INFO</h2>
		<p>forbes to equad</p>
    <p>date</p>
		<p>time</p>
		<p>riders:</p>
			<img class="pic" src="anabelle.jpg">
			<img class="pic" src="christy.jpg">
			<p>notes</p>
		<a href="#" class="button">join ride</a>
  </div>
    <footer>
        <p>copyright 2019 by a. chang, c. kwon, c. lee, n. schmeller</p>
    </footer>
</main>
    
</body>

</html>