{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TigerRides</title>
    <link rel="stylesheet" href="https://use.typekit.net/adz8rjg.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'joinGroup.css' %}">

</head>
    
<body>
    <!-- // Intro -->
<main> 
<header>
    <ul style="list-style-type: none;">
        <li style="float:right"><a href="{% url 'currentprof' %}">yournetid</a></li>
        <li style="float:right"><a href="{% url 'contact' %}">contact us</a></li>
        <li style="float:right"><a href="{% url 'about' %}">about us</a></li>
        <li style="float:right"><a href="{% url 'home' %}">home</a></li>
    </ul>
</header>

    
    <!-- // Body -->
		<div class="content-wrap">
    <h2>SUCCESS !</h2>
			<div class="row">
			<div class="columnleft">
			<img class="pic" src="egg.jpg"><p>u</p>
			</div>
			<div class="columnright"> 
			<img class="pic" src="christy.jpg"><p>buddy 1</p>
			<img class="pic" src="anabelle.jpg"><p>buddy 2</p>
				</div></div>
			<p><br/>Your potential buddies have been notified of your request to join their group. <br/>Once your request has been approved, you will receive an e-mail confirming the details of your upcoming trip.</p>
		</div>
    <footer>
        <p>copyright 2019 by a. chang, c. kwon, c. lee, n. schmeller</p>
    </footer>
</main>
    
</body>

</html>