{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static "joinGroup.css" %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
  <div class="w3-display-center w3-text-white" style="padding:5%">
    <h1 class="title w3-center">success.</h1>
    <div class="w3-padding-36 w3-center w3-myfont">
      <p class="name">ride details:</p>
      origin: {{ origin }}<br>
      destination: {{ destination }}<br>
      date: {{ date }}<br><br>
      
      {% for ride in rides_filt %}
      <form action="{% url 'seeUser' 0 %}" target="_blank" method="post" id="see_user">
        {% csrf_token %}
        {{ form }}
        <button class="buttons" name="userNetid" value="{{ ride.netid }}" form="see_user" type="submit">
          {{ ride.user_first_name }} {{ ride.user_last_name }}
        </button>
      </form>
      <a class="user">{{ ride.time_start }} --> {{ ride.time_end }}<br>
      notes: {{ ride.notes}}<br><br></a>
      {% endfor %}

      <!--<p><br/>Your potential buddies have been notified of your request to join their group. <br/>-->
      <p><br/>Your buddies have been notified that you have joined the group. You will receive an email confirming the details of your upcoming trip.<br/>

      <!--Once your request has been approved, you will receive an e-mail confirming the details of your upcoming trip.</p>-->
      </div>
      <!--<div class="buddy w3-container w3-center">
        <img class="pic" src="my_app/christy.jpg" alt="Christy" class="w3-round-xxlarge">
        <p class="w3-center">name</p>
      </div>-->
  </div> 
</div>

</div>
{% endblock %}