{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static 'rideHistory.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
<div class="w3-display-center w3-text-white" style="padding:5%">
    <h1 class="title w3-center w3-padding-16">current rides.</h1>

    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
  <p id="rides-list"></p>

        {% for key, values in open_rides.items %}
        <div class="box w3-container w3-padding-16 w3-center w3-myfont">

          {% for k, v in open_sing.items %}
          {% if k == key %}
          <p class="name">ride details:</p>
          {% for k1, v1 in v.items %}
          {{k1}}: {{v1}} <br>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% for val in values %}
          <form action="{% url 'userProf' %}" target="_blank" method="post" id="see_user">
            {% csrf_token %}
            {{ form }}
            <button class="buttons" name="userNetid" value="{{ val.netid }}" form="see_user" type="submit">
              {{ val.user_first_name }} {{ val.user_last_name }}:
            </button>
          </form>
          {{ val.time_start }} --> {{ val.time_end }} <br>
          notes: {{ val.notes}}<br>
          {% endfor %}
          <br>
          <form action="{% url 'seeGroup' 0 %}" method="post" id="seeMore">
            {% csrf_token %}
            {{ form }}
            <button class="buttons" name="rideId" value="{{ key }}" form="seeMore" type="submit">
              see more
            </button>
          </form>
        </div>
        {% endfor %}
        <br>
    </section>

  <h1 class="title w3-center w3-padding-16">past rides.</h1>

  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  <section id="rides-list">

      {% for key, values in closed_rides.items %}
        <div class="box w3-container w3-padding-16 w3-center w3-myfont">
          {% for k, v in closed_sing.items %}
          {% if k == key %}
          <p class="name">ride details:</p>
          {% for k1, v1 in v.items %}
          {{k1}}: {{v1}} <br>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% for val in values %}
          <form action="{% url 'userProf' %}" target="_blank" method="post" id="see_user">
            {% csrf_token %}
            {{ form }}
            <button class="buttons" name="userNetid" value="{{ val.netid }}" form="see_user" type="submit">
              {{ val.user_first_name }} {{ val.user_last_name }}:
            </button>
          </form>
          {{ val.time_start }} --> {{ val.time_end }} <br>
          notes: {{ val.notes}}<br>
          {% endfor %}
          <br/>
        </div>
      {% endfor %}
      <br>
  </section>
</div>
</div>
</div>
{% endblock %}