{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static 'rideHistory.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
  <div class="w3-display-center w3-text-white" style="padding:5%">
    <!-- page header -->
    <!--<h1 class="title w3-center w3-padding-16">log.</h1>-->
    <h1 class="title w3-center w3-padding-16">current rides.</h1>

    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    <!-- first result -->
    <section id="rides-list">
      <ul>

        {% for key, values in open_rides.items %}
        <li>
          <div class="box w3-container w3-padding-16 w3-center w3-myfont">
            {% for val in values %}
            <p class="w3-center">
              depart from: {{val.depart_from}} <br>
              destination: {{val.destination}} <br>
              date: {{val.date}} <br>
              notes: {{val.notes}} <br>
            </p>
            <p class="w3-center">riders:</p>
            {{ val.user_first_name }} {{ val.user_last_name }}
            {% endfor %}
            {% load static %}
            <img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">
            <br/>
            <button onclick="location.href='{% url 'groupInfo' %}'" class="buttons" type="button">see more</button>
          </div>
        </li>

        <!--{% for ride in rides %}-->
        <!--<li>-->
          <!--<div class="box w3-container w3-padding-16 w3-center w3-myfont">-->
            <!--<p class="w3-center">-->
            <!--</p>-->
            <!--<p class="w3-center">-->
              <!--depart from: {{ride.depart_from}} <br>-->
              <!--destination: {{ride.destination}} <br>-->
              <!--date: {{ride.date}} <br>-->
            <!--</p>-->
          <!--</div>-->
        <!--</li>-->
        {% endfor %}
        <br>
      </ul>
    <!--&lt;!&ndash; second result &ndash;&gt;-->
      <!--<div class="box w3-container w3-center w3-padding-16 w3-myfont">-->
      <!--<p class="w3-center">from origin</p>-->
      <!--<p class="w3-center">to destination</p>-->
      <!--<p class="w3-center">date</p>-->
      <!--<p class="w3-center">time</p>-->
      <!--<p class="w3-center">riders:</p>-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/christy.jpg" %}" alt="Christy" class="w3-round-xxlarge">-->
        <!--<br/>-->
      </div>
  </section><br><br><br><br>
      <h1 class="title w3-center w3-padding-16 w3-margin-top">past rides.</h1>
      {% load static %}
      <img class="car" src="{% static "my_app/car_large.png" %}">
      {% load static %}
      <img class="car" src="{% static "my_app/car_large.png" %}">
      {% load static %}
      <img class="car" src="{% static "my_app/car_large.png" %}">
      {% load static %}
      <img class="car" src="{% static "my_app/car_large.png" %}">
      {% load static %}
      <img class="car" src="{% static "my_app/car_large.png" %}">
      <section id="rides-list">
        <!--<h2 class="subtitle w3-center w3-padding-16">past rides</h2>-->
        <ul>

          {% for key, values in closed_rides.items %}
          <li>
            <div class="box w3-container w3-padding-16 w3-center w3-myfont">
              {% for val in values %}
              <p class="w3-center">
                depart from: {{val.depart_from}} <br>
                destination: {{val.destination}} <br>
                date: {{val.date}} <br>
                notes: {{val.notes}} <br>
              </p>
              <p class="w3-center">riders:</p>
              {{ val.user_first_name }} {{ val.user_last_name }}
              {% endfor %}
              {% load static %}
              <img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">
              <br/>
              <button onclick="location.href='{% url 'groupInfo' %}'" class="buttons" type="button">see more</button>
            </div>
          </li>
          <br>
          {% endfor %}
        </ul>

      <!--&lt;!&ndash; third result &ndash;&gt;-->
      <!--<div class="box w3-container w3-padding-16 w3-center w3-myfont">-->
      <!--<p class="w3-center">from origin</p>-->
      <!--<p class="w3-center">to destination</p>-->
      <!--<p class="w3-center">date</p>-->
      <!--<p class="w3-center">time</p>-->
      <!--<p class="w3-center">riders:</p>-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/christy.jpg" %}" alt="Christy" class="w3-round-xxlarge">-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/christy.jpg" %}" alt="Christy" class="w3-round-xxlarge">-->
        <!--<br/>-->
      <!--&lt;!&ndash;<button onclick="location.href='{% url 'groupInfo' %}'" class="buttons" type="button">see more</button>&ndash;&gt;-->
    <!--</div><br>-->
    <!--&lt;!&ndash; fourth result &ndash;&gt;-->
      <!--<div class="box w3-container w3-padding-16 w3-center w3-myfont">-->
      <!--<p class="w3-center">from origin</p>-->
      <!--<p class="w3-center">to destination</p>-->
      <!--<p class="w3-center">date</p>-->
      <!--<p class="w3-center">time</p>-->
      <!--<p class="w3-center">riders:</p>-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/christy.jpg" %}" alt="Christy" class="w3-round-xxlarge">-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/christy.jpg" %}" alt="Christy" class="w3-round-xxlarge">-->
        <!--{% load static %}-->
        <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
        <!--<br/>-->
  <!--</div>-->
      </section>
</div>
</div>
{% endblock %}