{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static 'rideHistory.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
<div class="w3-display-center w3-text-white" style="padding:5%">
    <!-- page header -->
    <!--<h1 class="title w3-center w3-padding-16">log.</h1>-->
    <h1 class="title w3-center w3-padding-16">current rides.</h1>

    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    {% load static %}
    <img class="car" src="{% static "my_app/car_large.png" %}">
    <p id="rides-list">
      <!--<ul>-->

        {% for key, values in open_rides.items %}
        <!--<li>-->
        <div class="box w3-container w3-padding-16 w3-center w3-myfont">

          {% for k, v in open_sing.items %}
          {% if k == key %}
          <p class="name">ride details:</p>
          {% for k1, v1 in v.items %}
          {{k1}}: {{v1}} <br>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% for val in values %}
          <p class="name">{{ val.user_first_name }} {{ val.user_last_name }}:</p>
          {{ val.time_start }} --> {{ val.time_end }} <br>
          notes: {{ val.notes}}<br>
          {% endfor %}
          <!--{% load static %}-->
          <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
          <br>
          <form action="{% url 'completeRide' %}" method="post" id="complete">
            {% csrf_token %}
            {{ form }}
            <button class="buttons-special" name="rideId" value="{{ key }}" form="complete" type="submit">
              see more or complete ride
            </button>
          </form>

          <form action="{% url 'leaveRide' %}" method="post" id="leave">
            {% csrf_token %}
            {{ form }}
            <button class="buttons" name="rideId" value="{{ key }}" form="leave" type="submit">
              leave ride
            </button>
          </form>
          <form action="{% url 'deleteRide' %}" method="post" id="delete">
            {% csrf_token %}
            {{ form }}
            <button class="buttons" name="rideId" value="{{ key }}" form="delete" type="submit">
              delete ride
            </button>
          </form><!--<a href="{% url 'searchResults' ride_id=key %}" class="shortcut bar-item w3-hover-none w3-button">home</a>-->
        </div>
        <!--</li>-->
        {% endfor %}

        <!--{% for key, values in open_rides.items %}-->
        <!--<li>-->
          <!--<div class="box w3-container w3-padding-16 w3-center w3-myfont">-->
            <!--{% for val in values %}-->
            <!--<p class="w3-center">-->
              <!--depart from: {{val.depart_from}} <br>-->
              <!--destination: {{val.destination}} <br>-->
              <!--date: {{val.date}} <br>-->
              <!--notes: {{val.notes}} <br>-->
            <!--</p>-->
            <!--<p class="w3-center">riders:</p>-->
            <!--{{ val.user_first_name }} {{ val.user_last_name }}-->
            <!--{% endfor %}-->
            <!--&lt;!&ndash;{% load static %}&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">&ndash;&gt;-->
            <!--<br/>-->
            <!--<form action="{% url 'completeRide' %}" method="post" id="toGroupButton">-->
              <!--{% csrf_token %}-->
              <!--{{ form }}-->
              <!--<button class="buttons" name="rideId" value="{{ key }}" form="toGroupButton" type="submit">see more or complete ride</button>-->
            <!--</form>-->
            <!--&lt;!&ndash;<button onclick="location.href='{% url 'groupInfo' %}'" class="buttons" type="button">see more</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button onclick="location.href='{% url 'completeRide' %}'" class="buttons" type="button">complete ride</button>&ndash;&gt;-->
          <!--</div>-->
        <!--</li>-->
        <!--{% endfor %}-->
        <br>
      <!--</ul>-->
    </section>

  <h1 class="title w3-center w3-padding-16">past rides.</h1>

  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  {% load static %}
  <img class="car" src="{% static "my_app/car_large.png" %}">
  <section id="rides-list">
    <!--<ul>-->

      {% for key, values in closed_rides.items %}
      <!--<li>-->
        <div class="box w3-container w3-padding-16 w3-center w3-myfont">
          {% for k, v in closed_sing.items %}
          {% if k == key %}
          <p class="name">ride details:</p>
          {% for k1, v1 in v.items %}
          {{k1}}: {{v1}} <br>
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% for val in values %}
          <p class="name">{{ val.user_first_name }} {{ val.user_last_name }}:</p>
          {{ val.time_start }} --> {{ val.time_end }} <br>
          notes: {{ val.notes}}<br>
          {% endfor %}

          <!--{% load static %}-->
          <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
          <br/>
          <!--<form action="{% url 'completeRide' %}" method="post" id="toGroupButton">-->
            <!--{% csrf_token %}-->
            <!--{{ form }}-->
            <!--<button class="buttons" name="rideId" value="{{ key }}" form="toGroupButton" type="submit">-->
              <!--see more or complete ride-->
            <!--</button>-->
          <!--</form>-->

          <!--<a href="{% url 'searchResults' ride_id=key %}" class="shortcut bar-item w3-hover-none w3-button">home</a>-->
        </div>
      <!--</li>-->
      {% endfor %}

      <!--{% for key, values in closed_rides.items %}-->
      <!--<li>-->
        <!--<div class="box w3-container w3-padding-16 w3-center w3-myfont">-->
          <!--{% for val in values %}-->
          <!--<p class="w3-center">-->
            <!--depart from: {{val.depart_from}} <br>-->
            <!--destination: {{val.destination}} <br>-->
            <!--date: {{val.date}} <br>-->
            <!--notes: {{val.notes}} <br>-->
          <!--</p>-->
          <!--<p class="w3-center">riders:</p>-->
          <!--{{ val.user_first_name }} {{ val.user_last_name }}-->
          <!--{% endfor %}-->
          <!--&lt;!&ndash;{% load static %}&ndash;&gt;-->
          <!--&lt;!&ndash;<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">&ndash;&gt;-->
          <!--<br/>-->
          <!--<form action="{% url 'completeRide' %}" method="post" id="toGroupButton">-->
            <!--{% csrf_token %}-->
            <!--            {{ form }}-->
            <!--<button class="buttons" name="rideId" value="{{key}}"-->
                    <!--form="toGroupButton" type="submit">see more</button>-->
          <!--</form>-->
        <!--</div>-->
      <!--</li>-->
      <!--{% endfor %}-->
      <br>
    <!--</ul>-->
  </section>
</div>
</div>
</div>
{% endblock %}