{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
  <link rel="stylesheet" href="{% static 'searchResults.css' %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container w3-center" style="margin:50px">
 <div class="w3-display-center w3-text-white" style="padding:5%">
    <!-- page header -->
    <h1 class="title w3-center w3-padding-16">here r sum potential ride buddies 4 u !</h1>
    <!-- first result -->
    <p></p>
    <ol>
      {% for key, values in rides.items %}
      <li>
        <div class="box w3-container w3-padding-16 w3-center w3-myfont">
          <p class="w3-center">
            {{ key }} {{value}}
          </p>
          {% for val in values %}
          <p class="w3-center">
            depart from: {{val.depart_from}} <br>
            destination: {{val.destination}} <br>
            date: {{val.date}} <br>
            notes: {{val.notes}} <br>
          </p>
          <p class="w3-center">riders:</p>
          {{ val.user_first_name }} {{ val.user_last_name }}
          my ride id:
          {{ my_ride_id }}
          {% endfor %}
          {% load static %}
          <img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">
          <br/>
          <form action="{% url 'groupInfo' %}" method="post" id="toGroupButton">
            {% csrf_token %}
            {{ form }}
            <button class="buttons" name="rideId" value="{{key}}"
                    form="toGroupButton" type="submit">see more</button>
          </form>
          <!--<a href="{% url 'searchResults' ride_id=key %}" class="shortcut bar-item w3-hover-none w3-button">home</a>-->
        </div>
      </li>
      {% endfor %}
      <!--{% for ride in rides %}-->
      <!--<li>-->
        <!--<div class="box w3-container w3-padding-16 w3-center w3-myfont">-->
          <!--<p class="w3-center">-->
          <!--</p>-->
            <!--<p class="w3-center">-->
              <!--depart from: {{ride.depart_from}} <br>-->
              <!--destination: {{ride.destination}} <br>-->
              <!--date: {{ride.date}} <br>-->
              <!--notes: {{ride.notes}} <br>-->
            <!--</p>-->
            <!--<p class="w3-center">riders:</p>-->
              <!--{{ ride.user_first_name }} {{ ride.user_last_name }}-->
              <!--{% load static %}-->
              <!--<img class="pic" src="{% static "my_app/anabelle.jpg" %}" alt="Anabelle" class="w3-round-xxlarge">-->
              <!--<br/>-->
          <!--<button onclick="location.href='{% url 'groupInfo' %}'" class="buttons" type="button">see more</button>-->
        <!--</div>-->
      <!--</li>-->
      <!--{% endfor %}-->
    </ol>
    <br/>
</div>
</div>
</div>
{% endblock %}