{% extends 'base.html' %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static "about.css" %}">
{% endblock %}

{% block content %}
<div class="w3-row w3-myfont">
<div class="w3-container">
  <div class="w3-text-white" style="padding:10%">
    <h1 class="title w3-center">What is tigerride?</h1>
    <div class="w3-container">
        <p class="text w3-animate-bottom">Tigerride is a student-run application created to streamline the process of students sharing transportation services to and from the Princeton University campus. Sharing such services allows users to save money, travel more safely, as well as take a step towards a greener environment. Users fill out a simple form to find other users to share rides with, and have the flexibility of requesting to join and leave rides at any time.</p>
    </div>
    <h1 class="title w3-center">User Guide</h1>
    <div class="w3-container">
        <p class="text w3-animate-bottom">Note: All users of tigerride must be Princeton students or faculty members with a valid netID and password because our website utilizes a Central Authentication Service system to make the app safe and reliable for all users.</p>
    </div>
    <h1 class="title w3-center">Logging In</h1>
    <div class="w3-container">
        <p class="text w3-animate-bottom">Navigate to http://tigerride.herokuapp.com/. <br>Click the “login” button at the bottom, which takes the user to the Princeton University Central Authentication Service authentication page.<Br>Fill out input fields for NetID and Password, click “LOGIN” and proceed with preferred method of DUO security authentication.</p>
    </div>
    <h1 class="title w3-center">Creating a Profile</h1>
    <div class="w3-container">
        <p class="text w3-animate-bottom">The first-time user must create a profile in order to create or view rides.<br>
            Users are presented with two options: creating a new profile from scratch, or importing their information from Tigerbook.<br></p>
        <p class="text w3-animate-bottom" style="text-indent: 10px">asdf</p>Starting from scratch:<br>
        <p class="text w3-animate-bottom" style="text-indent: 20px">Fill out fields for preferred first name and last name.<br>
            Input phone number.<br>
        Upload a profile photo.</p><br>
        <p class="text w3-animate-bottom" style="text-indent: 10px">asdf</p>Using Tigerbook information:<br>
        <p class="text w3-animate-bottom" style="text-indent: 20px">clicking the button automatically imports the user’s name, netID, and photo.</p><br>
        <p class="text w3-animate-bottom">Users can update their profile information anytime by navigating to their profile page by selecting the “profile” option on the menu bar and clicking the “edit” button.</p>
    </div>
  </div> 
</div>
</div>
{% endblock %}