{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="shortcut icon" type="image/png" href="https://cdn.pixabay.com/photo/2015/10/31/12/56/google-1015752_1280.png"/>-->
    <title>TigerRide</title>
    <link rel="stylesheet" href="https://use.typekit.net/adz8rjg.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body class="bg">
<header>
    <ul>
        <li style="float:right"><a href="{% url 'currentprof' %}">profile</a></li>
        <li style="float:right"><a href="{% url 'contact' %}">contact us</a></li>
        <li style="float:right"><a href="{% url 'about' %}">about us</a></li>
        <li style="float:right"><a href="{% url 'home' %}">home</a></li>
    </ul>
</header>

<main>
    <div class="center">
        welcome to
        <div class="main-header">
            TIGERRIDES!
        </div>
        <div class="description">
            insert description here.
        </div>
        <button onclick="location.href='{% url 'login' %}'"
                class="buttons"
                type="button">
            LOG IN
        </button>

    </div>
    <footer>
        <p>copyright 2019 by a. chang, c. kwon, c. lee, n. schmeller</p>
    </footer>
</main>
<!--<footer>-->
    <!--&lt;!&ndash; <div class="footer"> &ndash;&gt;-->
    <!--<ul>-->
        <!--<li><a href="#advertising">Advertising</a></li>-->
        <!--<li><a href="#business">Business</a></li>-->
        <!--<li style="float:right"><a href="#settings">Settings</a></li>-->
        <!--<li style="float:right"><a href="#terms">Terms</a></li>-->
        <!--<li style="float:right"><a href="#privacy">Privacy</a></li>-->
    <!--</ul>-->
    <!--&lt;!&ndash; </div> &ndash;&gt;-->
<!--</footer>-->

</body>
</html>